body {
  font: normal normal 16px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
  color: #1c2022;
  white-space: normal;
  transform: 1;
  transform-origin: top left;
  background-color: transparent;
}
#screenshot-tweet {
  width: max-content;
  height: max-content;
  padding: 0;
}
#screenshot-tweet blockquote {
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  min-width: 520px;
  max-width: 520px;
  padding: 1em;
  margin: 0;
  color: #777;
  box-sizing: border-box;
}
#screenshot-tweet blockquote > p {
  margin-top: 0;
  color: #1c2022;
}
#screenshot-tweet a {
  color: %s;
  text-decoration: none;
}
